<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NiceToolKit</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/particleground.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body style="margin:0px;height:100%">
    <div id="root">
        <div class="drawer">
            <div class="drawer" id="drawer-bg"></div>
            <H1 id="drawer-title">NiceToolKit</H1>
            <div id="drawer-list">
                <div class="drawer-list-item">
                    <img class="drawer-item-icon" src="assets/android.png">
                    <p class="drawer-item-text">Android</p>
                </div>
            </div>
        </div>
        <div id="workspace">
            <div id="win-draggable-bar">
            </div>
            <div id="win-operator-box">
                <div class="win-operator-item" v-on:click="minimizeWin">
                    <img class="win-operator-icon" src="assets/dot1.png" >
                </div>
                <div class="win-operator-item" v-on:click="maximizeWin">
                    <img class="win-operator-icon" src="assets/dot2.png" >
                </div>
                <div class="win-operator-item" v-on:click="closeWin">
                    <img class="win-operator-icon" src="assets/dot3.png" >
                </div>
            </div>
            <div id="toolbox">
                <div id="devices-selector">
                        <div v-on:click="refresh">refresh device list</div>
                        <select v-model="selectedDevice"  @change="onDeviceChanged">
                            <option v-for="device in devices" v-bind:value="device.id">{{device.name}}</option>
                        </select>
                        <span>Selected: {{ selectedDevice }}</span>
                    </div>
                
                    <div id="drag-file">
                        <div class="shortcut-item" >
                            <input type="file" multiple="multiple" @change="onFileSelected($event)" class="input-file">
                        </div>
                    </div>
                
                    <div id="shortcut-box">
                        <p class="shortcut-item" v-on:click="openSettings">open settings</p>
                        <p class="shortcut-item" v-on:click="takeScreenshot">screenshot</p>
                        <p class="shortcut-item" v-on:click="inspectWebview">inspect</p>
                        <p class="shortcut-item" v-on:click="recordScreen">screenrecord</p>
                    </div>
            </div>
            <div id="preview">
                <img id="preview-img" v-bind:src="previewImgPath" alt="">
                <p>{{previewDes}}</p>
            </div>
        </div>
    </div>
    
</body>


<script>
    particleground(document.getElementById('drawer-bg'), {
    dotColor: '#6f66dc',
    lineColor: '#6f66dc'
    });

    let winController = new Vue({
        el: '#win-operator-box',
        methods:{
            closeWin:function() {
                require('electron').remote.getCurrentWindow().close(); 
            },
            maximizeWin:function() {
                let remote = require('electron').remote
                var window = remote.getCurrentWindow();
                if (!window.isMaximized()) {
                    window.maximize();          
                } else {
                    window.unmaximize();
                }
            },
            minimizeWin:function() {
                require('electron').remote.getCurrentWindow().minimize(); 
            },
        } 
    })


    let app = new Vue({
        el: '#devices-selector',
        data: {
            message: 'Hello Vue!',
            selectedDevice: "",
            devices: []
        },
        methods:{
            refresh: refresh_devices,
            onDeviceChanged:function(device) {
                console.log(this.selectedDevice);
            }
        } 
    })

    let preview = new Vue({
        el: '#preview',
        data:{
            previewImgPath:"",
            previewDes:""
        }
    })

    let shortcutBox = new Vue({
        el: '#shortcut-box',
        data: {
            test_tips: 'TEST BUTTON',
        },
        methods:{
            openSettings: function () {
                let shell = getAdbCmd(app.selectedDevice,"shell am start com.android.settings/.DevelopmentSettings");
                runCmd(shell).catch(function(error) {
                    console.log(error);
                });
            },
            takeScreenshot:function(){
                const electronApp = require('electron').remote.app;
                let runningPath = electronApp.getAppPath();
                console.log(runningPath);
                let pcStoragePath = spawnFilePath("screen" + getCurrentFormatTime() + ".png");
                console.log(pcStoragePath);
                let shellScreen = getAdbCmd(app.selectedDevice,"shell screencap -p /sdcard/test.png");
                let shellPull = getAdbCmd(app.selectedDevice,"pull /sdcard/test.png " + pcStoragePath);
                runCmdArray([shellScreen,shellPull])
                .then(function(res){
                    console.log(res);
                    preview.previewImgPath = "";
                    preview.previewImgPath = pcStoragePath;
                    preview.previewDes = "hhh";
                })
                .catch(function(error) {
                    console.error(error);
                });
                
            },
            inspectWebview:function(){
                // window.open('chrome://inspect/#devices');
                
                var shell = require('electron').shell;
                shell.openExternal('chrome_dev.html');
            },
            recordScreen:function(){
        
                let child_process = require('child_process')
                console.log(getAdbCmd(app.selectedDevice,""));
                let adbProcess = child_process.spawn("adb",["shell","screenrecord","/sdcard/demo.mp4"])
                adbProcess.stdout.on('data', (data) => {
                    console.log(data.toString());
                });

                adbProcess.stderr.on('data', (data) => {
                    console.log(data.toString());
                });

                adbProcess.on('exit', (code) => {
                    console.log(`视频录制结束：${code}`);
                });
                console.log(adbProcess);
                setTimeout(function() {
                    console.log(adbProcess);
                    adbProcess.kill();
                },5000);
            }
        } 
    })

    let fileDrag = new Vue({
        el: '#drag-file',
        methods:{
            onFileSelected:function(event) {
                console.log(event);       
                for (let f of event.target.files) {
                    console.log('File(s) you dragged here: ', f.path)
        
                }
            }
        }
    })

    function getAdbCmd(deviceId,cmd){
        if(deviceId != ""){
            return "adb -s " + deviceId + " " + cmd;
        }else{
            return "adb " +  cmd;
        }
       
    }


    function runCmd(cmd) {
        return new Promise((resolve, reject) => {
            let exec = require('child_process').exec
            exec(cmd, function (err, stdout, stderr) {
                if(err){
                    reject(stderr);
                }else{
                    resolve(stdout);
                }
            });
        });
    }

     function runCmdArray(cmds) {
        return new Promise((resolve, reject) => {
            console.log("runCmdArray");
            
            let exec = require('child_process').exec
            function _runCmds(_cmds){
                console.log(_cmds);
                if(_cmds.length <= 0){
                    resolve("Execute all cmd finished.");
                    return;
                }
                let cmd = _cmds.shift()
                console.log("exec");
                console.log(cmd);
                exec(cmd, function (err, stdout, stderr) {
                    if(err){
                        reject(stderr);
                    }else{
                        console.log(stdout);
                        _runCmds(_cmds);
                    }
                });
            }
            _runCmds(cmds);
            
        });
    }

    function test_fn() {
        console.log(app.selectedDevice);
        
    }

    async function refresh_devices() {
        let res = await runCmd("adb devices");
        console.log(res);
        let lines = res.split(/[\r\n]+/g);
        let devices = [];
        let deviceIds = [];
        lines.forEach(line => {
            let deviceId = line.split(/[\s,;\t\n]+/)[0];
            if( deviceId  == "" || deviceId == "List" ){
                return;
            }
            deviceIds.push(deviceId);
        });
        
        app.selectedDevice = "正在刷新"
        app.devices = []

        //新增
        deviceIds.forEach(async function(deviceId){
            let deviceMsg = await runCmd("adb -s " + deviceId + ' shell  "cat /system/build.prop | grep "product""');
            let deviceName = (deviceMsg.split(/[\r\n]+/g)[0]).split("=")[1];
            app.devices.push({ id : deviceId , name :deviceName})
        }); 
    }

    function spawnFilePath(fileName) {
        const electronApp = require('electron').remote.app;
        let runningPath = electronApp.getAppPath();
        return runningPath + "\\temp\\" + fileName;
    }


    function getCurrentFormatTime(){
        let data = new Date();
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ?
                    (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        }
        return data.format("yyyyMMddhhmmss");
    }
</script>
</html>