<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="test-btn" v-on:click="test">
        <h1>{{ test_tips }}</h1>
    </div>
    <div id="devices-selector">
        <div v-on:click="refresh">refresh device list</div>
        <select v-model="selectedDevice" >
            <option v-for="device in devices" @change="selectDevice">{{device.name}}</option>
        </select>
        <span>Selected: {{ selectedDevice.name }}</span>
    </div>

    
    <h1>Hello World!</h1>
    We are using node
    <script>document.write(process.versions.node)</script>, Chrome
    <script>document.write(process.versions.chrome)</script>, and Electron
    <script>document.write(process.versions.electron)</script>.
    <div id="drag-file">
        <p>Install APK</p>
    </div>
</body>
<style>
    #drag-file {
        background-color: blue;
        color: white;
        text-align: center;
        width: 300px;
        height: 300px;
    }
</style>

<script>
    var test = new Vue({
        el: '#test-btn',
        data: {
            test_tips: 'TEST BUTTON',
        },
        methods:{
            test: test_fn
        } 
    })

    var app = new Vue({
        el: '#devices-selector',
        data: {
            message: 'Hello Vue!',
            selectedDevice: "No device",
            devices: []
        },
        methods:{
            refresh: refresh_devices,
            selectDevice : function(device) {
                this.selectedDevice = device;
                console.log(device);
                
            }
        } 
    })

    
    function runCmd(cmd) {
        return new Promise((resolve, reject) => {
            let exec = require('child_process').exec
            exec(cmd, function (err, stdout, stderr) {
                if(err){
                    reject(stderr);
                }else{
                    resolve(stdout);
                }
            });
        });
    }

    function test_fn() {
        console.log(app.selectedDevice);
        
    }

    async function refresh_devices() {
        let res = await runCmd("adb devices");
        console.log(res);
        var lines = res.split(/[\r\n]+/g);
        var devices = [];
        var deviceIds = [];
        lines.forEach(line => {
            let deviceId = line.split(/[\s,;\t\n]+/)[0];
            if( deviceId  == "" || deviceId == "List" ){
                return;
            }
            deviceIds.push(deviceId);
            console.log(line.split(/[\s,;\t\n]+/)[0]);
        });
        
        app.selectedDevice = "正在刷新"
        app.devices = []

        //新增
        deviceIds.forEach(async function(deviceId){
            let deviceMsg = await runCmd("adb -s " + deviceId + ' shell  "cat /system/build.prop | grep "product""');
            let deviceName = (deviceMsg.split(/[\r\n]+/g)[0]).split("=")[1];
            console.log(deviceName);
            app.devices.push({ id : deviceId , name :deviceName})
            console.log(app.devices);
        }); 
    }

    (function () {
        var holder = document.getElementById('drag-file');

        holder.ondragover = () => {
            return false;
        };

        holder.ondragleave = () => {
            return false;
        };

        holder.ondragend = () => {
            return false;
        };

        holder.ondrop = (e) => {
            e.preventDefault();

            for (let f of e.dataTransfer.files) {
                // console.log('File(s) you dragged here: ', f.path)
                let exec = require('child_process').exec
                let cmdStr = "adb push " + f.path
                exec(cmdStr, function (err, stdout, stderr) {
                    console.log(stdout);
                });
            }

            return false;
        };
    })();

    
</script>

</html>